@{
    ViewData["Title"] = "Home Page";
}
@section Scripts{ 
<script>

    var UrlApi = "https://apipersonajesseriesjlr.azurewebsites.net/";
    $(document).ready(function () {
        cargarSeries();
        $("#insertarserie").click(function () {
            var nombre = $("#cajanombre").val();
            var imagen = $("#cajaimagen").val();
            var puntuacion = parseInt($("#cajapuntuacion").val());
            var numero = parseInt($("#cajanumero").val());
            var serie = new Object();
            serie.nombre = nombre;
            serie.imagen = imagen;
            serie.puntuacion = puntuacion;
            serie.año = numero;
            var json = JSON.stringify(serie);
            var request = "/api/series";
            $.ajax({
                url: UrlApi + request,
                type: "POST",
                data: json,
                contentType: "application/json",
                success: function () {
                    cargarSeries();
                    console.log("Series Subidas");
                }
            });
        });
        $("#mostrar").click(function () {
            var serie = $("#cajaserie").val();
            var request = "/api/series/personajesserie/" + serie;
            console.log(request);
            $.ajax({
                url: UrlApi + request,
                method: "GET",
                dataType: "json",
                success: function (data) {
                    var html = "";
                    $.each(data, function (index, personaje) {
                        html += "<tr>";
                        html += "<td>" + personaje.idPersonaje + "</td>";
                        html += "<td>" + personaje.nombre + "</td>";
                        html += "<td>";
                        html += "<img src='" + personaje.imagen + "' style='width:80px'" + "/>";
                        html += "</td>";
                        html += "<td>" + personaje.idSerie + "</td>";
                        html += "</tr>";
                    });
                    $("#tablapersonaje").html(html);
                }
            });
        });
        $("#eliminarserie").click(function () {
            var idpersonaje = $("#cajapersonaje").val();
            var request = "/api/series/" + idpersonaje;
            $.ajax({
                url: UrlApi + request,
                type: "DELETE",
                success: function (data) {
                    cargarSeries();
                    console.log("Has eliminado");
                }
            })
        });
    });
    function cargarSeries() {
        var request = "/api/series";
        console.log("Cargando Series");
        $.ajax({
            url: UrlApi + request,
            method: "GET",
            dataType: "json",
            success: function(data) {
                var html = "";
                $.each(data, function (index, serie) {
                    html += "<tr>";
                    html += "<td>" + serie.idSerie + "</td>";
                    html += "<td>" + serie.nombre + "</td>";
                    html += "<td>";
                    html += "<img src='" + serie.imagen + "' style='width:80px'" + "/>";
                    html += "</td>";
                    html += "<td>" + serie.puntuacion + "</td>";
                    html += "<td>" + serie.año + "</td>";
                    html += "</tr>";
                });
                $("#tabla tbody").html(html);
            }
        });
    }
</script>
}
<div class="text-center">
    <h1 class="display-4">Api Series Cliente</h1>
    <label>
        Nombre:
    </label>
    <input type="text" id="cajanombre" class="form-control" />
    <br />
    <label>
        Imagen:
    </label>
    <input type="text" id="cajaimagen" class="form-control" />
    <br />
    <label>
        Puntuación
    </label>
    <input type="text" id="cajapuntuacion" class="form-control" />
    <br />
    <label>
        Año:
    </label>
    <input type="text" id="cajanumero" class="form-control" />
    <br />

    <button id="insertarserie" class="btn btn-outline-info">
        Insertar Serie
    </button>
    <hr />
    <br />
    <label>Para mostrar los personajes elige un numero de serie</label>
    <input type="text" class="form-control" id="cajaserie" />
    <button id="mostrar" class="btn btn-outline-primary">
        Mostrar Personajes
    </button>
    <hr />
    <br />
    <label>Para eliminar una Serie elige un Numero de la Serie</label>
    <input type="text" id="cajapersonaje" class="form-control" />
    <button id="eliminarserie" class="btn btn-outline-danger">
        Eliminar serie
    </button>
    <hr />
    <h2>TABLA SERIES</h2>
    <table id="tabla" class="table table-info">
        <thead>
            <tr>
                <th>IdSerie</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Puntuación</th>
                <th>Año</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <hr />
    <h2>TABLA PERSONAJES SERIES</h2>
    <table id="tablapersonaje" class="table table-info">
        <thead>
            <tr>
                <th>Id Personaje</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Id serie</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
